@import 'STYLES/ui_vars.scss';

#header{
    position: fixed;
    width: $sizing_pr_full - $sizing_pr_small;
    height: $sizing_px_large;
    display: flex;
    align-items: center;
    justify-content: center;
    left: $sizing_pr_small;
    top: 0;
    background-color: $color_primary;
    font-family: $font_family_primary;
    color: $color_white;
}

.toggled{
    background-color: $color_secondary !important;
}