@import 'STYLES/ui_vars.scss';
@import 'STYLES/mixins.scss';

.main_header{
    height: $sizing_px_x_large;
    background-color: $color_white;
    color: $color_50_gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &.dark{
        background-color: $color_dark;
        color: $color_20_gray;
    }
    &.shadow{
        @include shadow();
    }
    &.fixed{
        position: fixed;
        width: $sizing_pr_full;
    }
    .content{
        display: flex;
    }
    .container, .container_fluid{ 
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}