@import 'STYLES/ui_vars';

#systemizer{
    .content_layout{
        .one_component{
            .content{
                display: flex;
                justify-content: space-between;
                .samples, .description{
                    width: $sizing_pr_large;
                }
                .description{
                    .code_highlight{
                        margin-bottom: $sizing_px_small;
                    }
                }
            }
        }
    }
}