@import 'STYLES/ui_vars.scss';

#sidebar{
    position: fixed;
    width: $unit_pr_base;
    height: $unit_pr_full;
    top: 0;
    background-color: $color_10_gray;
    color: $color_80_gray;
    a{
        color: $color_80_gray;
        text-decoration: none;
    }
    .title{
        display: flex;
        align-items: center;
        justify-content: center;
        height: $unit_px_large;
        background-color: $color_primary;
        @include font_label;
    }
    nav{
        font-weight: 200;
        ul{
            li{
                padding: $unit_px_small;
                &:hover{
                    background-color: $color_80_gray;
                }
            }
        }
    }
}