@import '../../styles/ui_vars.scss';
@import '../../styles/brand_ui_vars.scss';

.paragraph{
    font-family: $font_family_secondary;
    font-size: $font_size_small;
    font-weight: $font_weight_base;
    color: $color_70_gray;
    line-height: $font_line_height;

    &.large{
        font-size: $font_size_base;
    }
    &.tiny{
        font-size: $font_size_tiny;
    }
    &.white{
        color: $color_30_gray;
    }
    &.uppercase{
        text-transform: uppercase;
    }
    &.bold{
        font-weight: $font_weight_bold;
    }
}
