@import 'STYLES/ui_vars.scss';

#beTheme{
    .main_header{
        border-bottom: 1px solid $color_50_gray;
        background-color: rgba($color_dark, 0.4);
        .brand{
            margin-left: $sizing_pr_tiniest;
            cursor: pointer;
        }
        .header_right_container{
            display: flex;
        }
    }
    .hero_section{
        h1{
            text-align: center;
            padding-top: $sizing_vh_large;
        }
    }
    .tab_menu{
        width: 100%;
        justify-content: center;
        border-bottom: 2px solid $color_20_gray;
        margin-bottom: $sizing_px_large;
    }
}