@import 'STYLES/ui_vars.scss';

.horizontal_nav{
    display: flex;
    align-items: center;
    height: $sizing_px_x_large;
    border-left: 1px solid $color_50_gray;
    border-right: 1px solid $color_50_gray;
    a{
        display: flex;
        align-items: center;
        color: $color_50_gray;
        padding-left: $sizing_px_small;
        padding-right: $sizing_px_small;
        height: $sizing_pr_full;
        border-left: 1px solid $color_50_gray;
        &:hover{
            background-color: $color_80_gray;
        }
    }
}