@import 'STYLES/ui_vars.scss';

.code_highlight{
    header{
        padding: $sizing_px_tiny;
        background-color: $color_10_gray;
        border-radius: $radius_20 $radius_20 0 0;
        border: 1px solid $color_30_gray;
    }
    section{
        padding: $sizing_px_tiny;
        border: 1px solid $color_30_gray;
        border-radius: 0 0 $radius_20 $radius_20;
        code{
            padding: 0;
            margin: 0;
            border: none;
        }
        &.full_rounded{
            border-radius: $radius_20;
        }  
    }
}