@import 'STYLES/ui_vars.scss';

.title{
    font-family: $font_family_primary;
    font-weight: 900;
    font-size: $font_size_large;
    line-height: $font_line_height;
    color: $color_80_gray;

    &.large{
        font-size: $font_size_x_large;   
    }
    &.tiny{
        font-size: $font_size_base;
    }
    &.white{
        color: $color_white;
    }
    &.uppercase{
        text-transform: uppercase;
    }
}