// -------------------------------------------------> [COLORS]
$color_primary: #5C37B5;
$color_secondary: #6447BF;
$color_red: #FF2D63;
$color_yellow: #F5DD29;
$color_green: #2af59a;
$color_dark: #000;
$color_80_gray: #191919;
$color_70_gray: #151515;
$color_60_gray: #333333;
$color_50_gray: #7A7A7A;
$color_40_gray: #C5C5C5;
$color_30_gray: #E8E8E8;
$color_20_gray: #E8E8E8;
$color_10_gray: #E8E8E8;
$color_white: white;
// -------------------------------------------------< [COLORS]
