@import './ui_vars.scss';

// -------------------------------------------------> [SHADOW]
@mixin shadow(
    $inset: false,
    $horizontal: -$unit_px_tiny,
    $vertical: 0,
    $blur: $unit_px_large,
    $spread: -$unit_px_tiny,
    $opacity: 0.4,
    $color: $color_80_gray
    ){
        @if($inset){
            box-shadow: inset $horizontal $vertical $blur $spread rgba($color, $opacity);
            -webkit-box-shadow: inset $horizontal $vertical $blur $spread rgba($color, $opacity);
            -moz-box-shadow: inset $horizontal $vertical $blur $spread rgba($color, $opacity);
        } @else{
            box-shadow: $horizontal $vertical $blur $spread rgba($color, $opacity);
            -webkit-box-shadow: $horizontal $vertical $blur $spread rgba($color, $opacity);
            -moz-box-shadow: $horizontal $vertical $blur $spread rgba($color, $opacity);
        }
}
// -------------------------------------------------< [SHADOW]

// -------------------------------------------------> [SHADOW]
@mixin flex(
    $justify-content: center,
    $align-items: center,
    $flex-direction: row
    ){
        display: flex;
        justify-content: $justify-content;
        align-items: $align-items;
        flex-direction: $flex-direction;
}
// -------------------------------------------------< [SHADOW]

// -------------------------------------------------> [GRADIENT]
@mixin gradient(
    $color_one: $color_primary,
    $color_two: $color_secondary
    ){ 
        background: $color_one;
        background: -moz-linear-gradient(45deg, $color_one 0%, $color_two 100%);
        background: -webkit-gradient(left bottom, right top, color-stop(0%, $color_one), color-stop(100%, $color_two));
        background: -webkit-linear-gradient(45deg, $color_one 0%, $color_two 100%);
        background: -o-linear-gradient(45deg, $color_one 0%, $color_two 100%);
        background: -ms-linear-gradient(45deg, $color_one 0%, $color_two 100%);
        background: linear-gradient(45deg, $color_one 0%, $color_two 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$color_one, endColorstr=$color_two, GradientType=1 );
}
// -------------------------------------------------< [GRADIENT]

