// -------------------------------------------------> [COLORS] VVV
$color_primary: #006eff;
$color_secondary: #42cd95;
$color_red: #f46363;
$color_yellow: #fed570;
$color_green: #33db87;
$color_black: #161616;
$color_dark: #232323;
$color_gray: #ddecff;
$color_white: white;
// -------------------------------------------------< [COLORS] XXX

// -------------------------------------------------> [MEASUREMENT UNITS] VVV
$unit_px_tiny: 8px;
$unit_px_small: 16px;
$unit_px_base: 24px;
$unit_px_large: 48px;
$unit_px_x_large: 64px;
$unit_px_xx_large: 120px;

$unit_pr_tiny: 8%;
$unit_pr_small: 16%;
$unit_pr_base: 24%;
$unit_pr_large: 48%;
$unit_pr_x_large: 64%;
$unit_pr_full: 100%;
// -------------------------------------------------< [MEASUREMENT UNITS] XXX

// -------------------------------------------------> [TYPOGRAPHY] VVV
$font_primary: Open Sans, sans-serif;
$font_secondary: "Times New Roman", Times, serif;

$font_tiny: 12px;
$font_small: 16px;
$font_base: 24px;
$font_large: 32px;
$font_x_large: 40px;
$font_xx_large: 48px;
// -------------------------------------------------< [TYPOGRAPHY] XXX

// -------------------------------------------------> [RADIUSES] VVV
$radius_primary: 8px;
$radius_secondary: 16px;
// -------------------------------------------------< [RADIUSES] XXX


// TODO: Needed Remove
@mixin font_label {
    font-weight: bold;
    text-transform: uppercase;
    font-size: $unit_px_small;
    color: $color_white;
}