// -------------------------------------------------> [COLORS]
$color_primary: #782EFF;
$color_secondary: #38FFDA;
$color_red: #FF2D63;
$color_yellow: #F5DD29;
$color_green: #47FF49;
$color_80_gray: #2E3E4F;
$color_70_gray: #515E6D;
$color_60_gray: #687480;
$color_50_gray: #969EA7;
$color_40_gray: #C5C9CE;
$color_30_gray: #DCDFE1;
$color_20_gray: #E8EAEC;
$color_10_gray: #F3F4F5;
$color_white: white;
// -------------------------------------------------< [COLORS]

// -------------------------------------------------> [MEASUREMENT UNITS]
$unit_px_tiny: 8px;
$unit_px_small: 16px;
$unit_px_base: 24px;
$unit_px_large: 48px;
$unit_px_x_large: 64px;
$unit_px_xx_large: 120px;

$unit_pr_tiny: 8%;
$unit_pr_small: 16%;
$unit_pr_base: 24%;
$unit_pr_large: 48%;
$unit_pr_x_large: 64%;
$unit_pr_full: 100%;
// -------------------------------------------------< [MEASUREMENT UNITS]

// -------------------------------------------------> [TYPOGRAPHY]
$font_primary: Avenir, Open Sans, sans-serif;
$font_secondary: Georgia, "Times New Roman", Times, serif;

$font_tiny: 12px;
$font_small: 16px;
$font_base: 24px;
$font_large: 32px;
$font_x_large: 40px;

$font_line_height: 1.5;
// -------------------------------------------------< [TYPOGRAPHY]

// -------------------------------------------------> [RADIUSES]
$radius_primary: 100px;
$radius_secondary: 8px;
// -------------------------------------------------< [RADIUSES]


// TODO: Needed Remove
@mixin font_label {
    font-weight: bold;
    text-transform: uppercase;
    font-size: $unit_px_small;
    color: $color_white;
}